<div class="Ganadero-btn">
    <button type="button" class="btn btn-raised btn-info"
    [routerLink]="['/ganadero/ganaderocreate']">
       <i class="icon-list"></i> Crear
     </button>
</div>


<div class="container">
  <h3>Lista Ganadero</h3>
  <table class="table table-bordered table table-striped">
    <thead>
      <tr>
        <th scope="col">nombre</th>
        <th scope="col">correo</th>
        <th scope="col">telefono</th>
        <th scope="col">Eliminar</th>
        <th scope="col">Actualizar</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ganaderoData | paginate: { itemsPerPage: 5, currentPage: pageActual} ">
        <td>{{item.nombre}}</td>
        <td>{{item.correo}}</td>
        <td>{{item.telefono}}</td>
        <td>
            <a class="btn text-danger" (click)="deletGanaderoId(item)">
              <i class="fa fa-trash"></i>
            </a>
          </td>
          <td>
              <a class="btn" routerLink="/ganadero/ganaderoedit/{{item._id}}">
                <i class="fa fa-edit"></i>
              </a>
            </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
</div>
